.settings {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px
}

.button {
    margin-top: 10px;
}